*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.reset-btn {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;

  background: transparent;

  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;

  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;

  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;
}

html,
body {
  height: 100%;
  min-height: 100%;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  margin: 0;
  /* padding-top: 125px; */
  font-family: "Comfortaa", cursive;
  -webkit-font-smoothing: antialiased;
}

header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
  padding: 25px;
  background-color: black;
}

header .promo {
  text-align: center;
}

header .promo h1 {
  margin: 0;
  font-size: 52px;
  color: #ed6e1d;
  -webkit-animation: fadeInUp 1200ms both;
  animation: fadeInUp 1200ms both;
}

@media screen and (min-width: 768px) {
  header .promo h1 {
    font-size: 72px;
  }
}

section:not(#about) {
  padding: 50px 25px;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  width: 100%;
  padding: 16px;
  background-color: #000000;
  z-index: 9999;
}

@media screen and (min-width: 768px) {
  .navbar {
    padding: 30px;
  }
}

.navbar-toggler {
  display: inline-block;
  width: 2.5em;
  height: 2.5em;
  position: relative;
  margin: auto 0.1rem;
  margin-left: auto;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  /* 2x + 3y + 2z = 100% */
}

.navbar-toggler span {
  display: block;
  position: absolute;
  height: 0.2em;
  width: 100%;
  background-color: #ed6e1d;
  border-radius: 10%;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.navbar-toggler span:nth-child(1) {
  top: 15%;
  -webkit-transform-origin: left center;
  -ms-transform-origin: left center;
  transform-origin: left center;
}

.navbar-toggler span:nth-child(2) {
  top: 45%;
  -webkit-transform-origin: left center;
  -ms-transform-origin: left center;
  transform-origin: left center;
}

.navbar-toggler span:nth-child(3) {
  top: 75%;
  -webkit-transform-origin: left center;
  -ms-transform-origin: left center;
  transform-origin: left center;
}

.navbar-toggler.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 10%;
  left: 15%;
}

.navbar-toggler.open span:nth-child(2) {
  width: 0;
  left: -100%;
  opacity: 0;
}

.navbar-toggler.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  left: 15%;
  top: 80%;
}

.navbar__list {
  display: none;
  list-style-type: none;
  margin: 0;
  padding: 10px 0;
  -webkit-animation: fadeInLeft 550ms both;
  animation: fadeInRight 550ms both;
}

.navbar.is-opened .navbar__list {
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: right;
}

.navbar.is-opened {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.navbar__list-item {
  margin-bottom: 20px;
  margin-left: 0;
}

@media screen and (min-width: 768px) {
  .navbar.is-opened .navbar__list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
  }

  .navbar.is-opened {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .navbar__list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0;
    -webkit-animation: none;
    animation: none;
  }

  .navbar__list-item {
    margin-bottom: 0;
  }

  .navbar__list-item + .navbar__list-item {
    margin-left: 35px;
  }

  .navbar-toggler {
    display: none;
  }
}

.navbar__list-item a {
  text-decoration: none;
  font-size: 21px;
  color: #ed6e1d;
  position: relative;
}

.navbar__list-item a.active {
  color: #ed6e1d;
}

.navbar__list-item a.active:before {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}

.navbar__list-item a:before {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #ed6e1d;
  content: "";
  -webkit-transform: translateY(8px);
  -ms-transform: translateY(8px);
  transform: translateY(8px);
  opacity: 0;
  transition-property: -webkit-transform, opacity;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.navbar__list-item a {
  -webkit-transition: color 300ms;
  -o-transition: color 300ms;
  transition: color 300ms;
}

.navbar__list-item a:hover {
  color: #ed6e1d;
}

.navbar__list-item a:hover:before {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}

.img-responsive {
  max-width: 100%;
}

#about {
  background-color: #000000;
}

.about {
  display: block;
}

.about__photo,
.about__info {
  width: 100%;
}

.about__info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 25px;
}

.about__info-title {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 24px;
  text-transform: uppercase;
  color: #ed6e1d;
}

.about__info-text {
  line-height: 1.5;
  letter-spacing: normal;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
}

@media screen and (min-width: 840px) {
  .about {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

  .about__info {
    border-top: 20px solid #1d1d1b;
    padding: 50px;
  }

  .about__photo {
    width: 45%;
    -webkit-flex-basis: 45%;
    -ms-flex-preferred-size: 45%;
    flex-basis: 45%;
  }

  .about__info {
    width: 55%;
    -webkit-flex-basis: 55%;
    -ms-flex-preferred-size: 55%;
    flex-basis: 55%;
  }
}

@media screen and (min-width: 992px) {
  .about__info {
    border-top: 30px solid #1d1d1b;
  }

  .about__info-title {
    font-size: 28px;
  }

  .about__info-text {
    font-size: 21px;
  }
}

@media screen and (min-width: 1280px) {
  .about__info {
    border-top: 30px solid black;
  }

  .about__info-title {
    font-size: 32px;
  }

  .about__info-text {
    font-size: 24px;
  }
}

@media screen and (min-width: 1440px) {
  .about__info {
    border-top: 30px solid 
        black;
  }

  .about__info-title {
    font-size: 36px;
  }

  .about__info-text {
    font-size: 28px;
  }
}

.arrow {
  position: absolute;
  width: 50px;
  height: 60px;
  z-index: 9999;
}

.arrow-left {
  top: 50%;
  left: -15px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.arrow-right {
  top: 50%;
  right: -15px;
  -webkit-transform: translateY(-50%) rotate(180deg);
  -ms-transform: translateY(-50%) rotate(180deg);
  transform: translateY(-50%) rotate(180deg);
}

.slide__info {
  position: relative;
}

.slide__info-title {
  margin-top: 40px;
  margin-bottom: 20px;
  font-size: 32px;
}

.slide__info-text {
  font-size: 22px;
  margin-bottom: 0;
}

.slide__info-date {
  font-size: 21px;
}

@media screen and (min-width: 768px) {
  .slide {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-right: 50px;
    margin-left: 50px;
  }

  .slide__photo {
    width: 45%;
    -webkit-flex-basis: 45%;
    -ms-flex-preferred-size: 45%;
    flex-basis: 45%;
    padding-right: 20px;
  }

  .slide__photo img {
    margin-left: auto;
    max-width: 600px;
  }

  .slide__info {
    width: 55%;
    -webkit-flex-basis: 55%;
    -ms-flex-preferred-size: 55%;
    flex-basis: 55%;
    padding-left: 20px;
  }

  .slide__info-title {
    margin-top: 1vw;
    margin-bottom: 1vw;
    font-size: 3vw;
  }

  .slide__info-text,
  .slide__info-date {
    margin-bottom: 8px;
  }

  .slide__info-text {
    font-size: 24px;
  }

  .slide__info-date {
    font-size: 24px;
  }
}

.owl-dots button span {
  padding: 14px;
  background-color: transparent !important;
  border: 2px solid #808080;
}

.owl-dots button.active span {
  border: 2px solid #000;
}

@media screen and (min-width: 768px) {
  .owl-dots button span {
    padding: 10px;
  }
}

@media screen and (min-width: 992px) {
  .owl-item.active .slide__info-title {
    -webkit-animation: fadeInUp 750ms both 200ms;
    animation: fadeInUp 750ms both 200ms;
  }

  .owl-item.active .slide__info-date {
    -webkit-animation: fadeInUp 750ms both 250ms;
    animation: fadeInUp 750ms both 250ms;
  }

  .owl-item.active .slide__info-text {
    -webkit-animation: fadeInUp 750ms both 300ms;
    animation: fadeInUp 750ms both 300ms;
  }

  .owl-item.active .slide__photo {
    -webkit-animation: fadeInUp 900ms both 200ms;
    animation: fadeIn 1000ms both 350ms;
  }
}

#gallery {
  background-color: #000000;
}

.gallery-wrapper {
  margin-left: auto;
  margin-right: auto;
  /* max-width: 1440px; */
}

.gallery {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.gallery-item {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 100%;
  -ms-flex: 1 0 100%;
  flex: 1 0 100%;
  padding: 16px;
}

@media screen and (min-width: 480px) {
  .gallery-item {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 50%;
    -ms-flex: 1 0 50%;
    flex: 1 0 50%;
  }
}

@media screen and (min-width: 768px) {
  .gallery-item {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 33.3%;
    -ms-flex: 1 0 33.3%;
    flex: 1 0 33.3%;
  }
}

.gallery-image-overflow {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.gallery-image {
  display: inherit;
  width: inherit;
  height: inherit;
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-transition: -webkit-transform 400ms ease-out;
  transition: -webkit-transform 400ms ease-out;
  -o-transition: transform 400ms ease-out;
  transition: transform 400ms ease-out;
  transition: transform 400ms ease-out, -webkit-transform 400ms ease-out;
}

.gallery-image:hover {
  -webkit-transform: scale(1.15);
  -ms-transform: scale(1.15);
  transform: scale(1.15);
}

#skills {
  padding: 50px 25px;
}

.skills-title {
  margin-top: 0;
  margin-bottom: 60px;
  text-align: center;
  font-size: 36px;
  text-transform: uppercase;
  color: #3b110e;
}

.circles-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  padding: 25px;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  text-align: center;
}

@media screen and (min-width: 1440px) {
  .circles {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}

.circles-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
}

.circle__progress {
  position: relative;
  width: 225px;
  height: 225px;
  margin: 50px;
  text-align: center;
}

.circle__progress strong {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 56px;
}

.circle__progress span {
  display: block;
  margin-top: 25px;
  font-size: 24px;
  text-transform: uppercase;
}

.socials {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  margin-top: 50px;
  padding-left: 0;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.socials__item {
  padding: 0.75em;
  border-radius: 50%;
  background-color: #8e8e8e;
}

.socials__item + .socials__item {
  margin-left: 1em;
}

.socials__item-icon {
  display: block;
  width: 2.5em;
  height: 2.5em;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
}

@media screen and (min-width: 768px) {
  .socials__item {
    -webkit-transition: opacity 300ms ease-in-out;
    -o-transition: opacity 300ms ease-in-out;
    transition: opacity 300ms ease-in-out;
    opacity: 0.85;
  }

  .socials__item:hover {
    -webkit-animation: pulse 300ms both;
    animation: pulse 300ms both;
    opacity: 1;
  }

  .socials__item-icon {
    width: 3.75em;
    height: 3.75em;
  }

  #contacts {
    padding-top: 125px;
    padding-bottom: 125px;
  }
}

.socials__item-icon--facebook {
  background-image: url("img/facebook.svg");
}

/* ??? */


.socials__item-icon--instagram {
  background-image: url("img/instagram.svg");
}

.elevator {
  display: inline-block;
  height: 60px;
  width: 48px;
  position: fixed;
  right: 20px;
  bottom: 20px;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  /* border-radius: 50%; */
  text-decoration: none;
  background-image: none;
  background: #9d8886;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  visibility: hidden;
  opacity: 0;
}
.elevator.elevator-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
  z-index: 999;
}

.elevator .arrow-up {
  display: block;
  width: 50px;
  height: 60px;
  padding: 10px;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

@media (max-width: 768px) {
  .elevator {
    /* only show elevator on desktop screen */
    display: none !important;
  }
}
